body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
}
/* navbar css */
nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding-right:50px;
    padding-top: 5px;
}
h3{
    padding-left: 3%;
}
a{
    text-decoration: none;
    color: white;
}


/* css for h1 & info on left & image on right */
h1{
    margin-bottom: 10px;
    font-size: 300%;
    font-weight: lighter;
}
#sec1, .cl2 h1{
    margin-left: 3%;
}

.cl1{
    display: flex;
}
button{
    background-color: black;
    color: white;
    width: 30%;
    font-size: large;
    padding: 10px;
    outline: none;
}
#sec1 p{
    font-size: larger;
}
.cl1 img{
    height: 25%;
    width: 45%;
    margin: 5%;
    border: 2px solid red;
}

/* css for 6 images */
#sec2{
    display: flex;
    flex-wrap:wrap;
    margin-left: 2%
}
#sec2 img{
    height:30%;
    width: 30%;
    margin: 1%;
    border: 2px solid red;
}
